.section2
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background: #f5f5f5;
    background: linear-gradient(141deg, #f5f5f5 0%, #eee 51%, #d3daec 75%);
}

.section2 .courses
{
    margin: 7% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section2 .courses .c
{
    width: 35%;
    padding: 35px;
    font-family: PT Sans;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.section2 .courses .c h2
{
    color: #222;
    text-align: center;
}

.section2 .courses .c h4
{
    text-align: center;
    color: #57b8e2;
    font-weight: 300;
}

.section2 .courses .c p
{
    margin: 10px 0;
    font-family: Lato;
    font-weight: 300;
    color: #333;
    text-align: justify;
    line-height: 1.3em;
}



.section2 .courses .c h6, .section2 .courses .c a
{
    font-family: Lato;
    font-weight: 700;
    align-self: center;
    color: #57b8e2;
    text-align: center;
    line-height: 1.3em;
    font-size: 1em;
    width: 100%;
    margin: 10px auto;
}

@media (max-width :700px){
    .section2 .courses .c
    {
        width: 80%;
        padding: 20px 0px;
        font-family: PT Sans;
    }
}