.section1
{
    width: 100%;
    position: relative;
    padding: 100px 0;
    background: linear-gradient(to right, #57b8e2, #58b8e2);
}

.section1 h2
{
    color: #197da8;
    font-weight: 300;
    font-size: 1.3em;
    margin-left: 10%;
}

.section1 h1
{
    margin-left: 10%;
    color: #fff;
    font-family: PT Sans;
}

.section2
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background: #f5f5f5;
}

.section2 .contact
{
    width: auto;
    margin-top: 20px;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.section2 .contact .box
{
    width: 45px;
    height: 45px;
    margin: 0px 10px;
    cursor: pointer;
}

.section2 .contact .box img
{
    width: 35px;
    margin:5px;
}

.section2 .courses
{
    margin: 7% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section2 .courses .bigB
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
    width: 100%;
}


.section2 .courses .c
{
    width: 24%;
    background: #fff;
    padding: 25px;
    font-family: PT Sans;
    margin: 0px;
}

.section2 .courses .bigger
{
    width: 30%;
}


.section2 .courses .c .line
{
    width: 30%;
    height: 5px;
    background: #ccc;
    margin: 20px 0 10px 0;

}

.section2 .courses .c > img:first-child
{
    width: 70%;
    border-radius: 100%;
    margin: 0 15%;
}

.section2 .courses .c h2
{
    color: #222;
}

.section2 .courses .c h6
{
    color: #888;
    font-weight: 300;
    font-size: .8em;
}

.section2 .courses .c p
{
    margin: 10px 0;
    font-family: Lato;
    font-weight: 500;
    color: #333;
    line-height: 1.3em;
}


@media (max-width :700px){

    .section2 .courses .c
    {
        width: 40%;
        background: #fff;
        padding: 25px;
        font-family: PT Sans;
        margin: 0px;
        width: 35%;
        padding: 25px;
        margin: 0px;
    }

    .section2 .courses .bigger p
    {
        margin: 10px 0;
        font-family: Lato;
        font-weight: 500;
        color: #333;
        text-align: justify;
        line-height: 1.3em;
    }

    .section2 .courses .bigger
    {
        width: 35%;
        padding: 25px;
        margin: 0px;
    }

    

}

@media (max-width :550px){

    .section2 .courses .bigger p
    {
        margin: 10px 0;
        font-family: Lato;
        font-weight: 500;
        color: #333;
        text-align: left;
        line-height: 1.3em;
    }

    .section2 .courses .bigger
    {
        width: 85%;
        padding: 25px;
        margin: 0px;
    }

    .section2 .courses .c > img:first-child
    {
        width: 50%;
        border-radius: 100%;
        margin: 0 25%;
    }

    .section2 .courses .c
    {
        border-bottom : 1px solid #ddd;
        margin-bottom: 10px;
        width: 85%;
        padding: 25px;
        margin: 0px;
    }


}


@media (max-width :350px){

    .section2 .courses .c p
    {
        margin: 10px 0;
        font-family: Lato;
        font-weight: 500;
        color: #333;
        text-align: center;
        line-height: 1.3em;
    }

    .section2 .courses .c .line
    {
        opacity: 0;
    }

    .section2 .courses .c h2
    {
        text-align: center;
        color: #222;
    }

    .section2 .courses .c h6
    {
        color: #888;
        text-align: center;
        font-weight: 300;
        font-size: .8em;
    }


}

@media (max-width :300px){

    .section2 .courses .c p
    {
        display: none;
    }

    .section2 .courses .c h2
    {
        text-align: center;
        color: #222;
    }

    .section2 .courses .c h6
    {
        color: #888;
        text-align: center;
        font-weight: 300;
        font-size: .8em;
    }


}