.section1
{
    width: 100%;
    position: relative;
    padding: 100px 0;
    background: linear-gradient(to right, #57b8e2, #58b8e2);
}

.section1 h2
{
    color: #197da8;
    font-weight: 300;
    font-size: 1.3em;
    margin-left: 10%;
}

.section1 h1
{
    margin-left: 10%;
    color: #fff;
    font-family: PT Sans;
}

.section2
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background: #f5f5f5;
}

.section2 .courses
{
    margin: 7% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section2 .courses .c
{
    width: 22%;
    background: #fff;
    padding: 35px;
    font-family: PT Sans;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.section2 .courses .c .line
{
    width: 80%;
    height: 3px;
    background: #eee;
    margin: 20px auto;

}

.section2 .courses .c img
{
    width: 100%;
}

.section2 .courses .c h2
{
    color: #222;
}

.section2 .courses .c p
{
    margin: 10px 0;
    font-family: Lato;
    font-weight: 500;
    color: #666;
    line-height: 1.3em;
}


.section2 .courses .c button
{    
    background: none;
    align-self: flex-end;
    border:none;
    outline:none;
    border-radius: 5px;
    padding: 15px 55px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    font-family: PT Sans;
    font-size: .9em;
    color: #57b8e2;
    border:2px solid #57b8e2;  
    font-weight: 500;
    margin: 20px auto 0 auto;
}

.section2 .courses .c button:hover
{
    background: #57b8e2;
    color: #fff;
}