*
{
	transition: .5s ease;
	padding: 0;
	margin:0;
	font-family: Lato;
}

body,html
{
	background: #eee;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
    font-smoothing: antialiased;
    position: relative;
}


::-webkit-scrollbar-track
{
	background-color: #eee;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #00ffcc;
}


.nav
{
	width: 100%;
	height: 150px;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}

.nav .all_bars
{
	height: 20px;
	width: 35px;
	position: relative;
	left: 5%;
	cursor: pointer;
	top: 50%;
}

.nav .all_bars::after
{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 10px;
	border-radius: 100%;
	background: rgba(0,0,0,0.3);

}

@-webkit-keyframes clicker
{
	0%
	{
		width: 0px;
		height: 0px;
	}
	50%
	{
		width: 30px;
		height: 30px;
		top: -5px;
	}
	100%
	{
		width: 0px;
		height: 0px;
		opacity: 0;
	}
}

.nav .all_bars:hover:after
{
	-webkit-animation: clicker 2s ease;
}



.nav .bars
{
	width: 30px;
	height: 3px;
	border-radius: 10px;
	background: #eee;
	
}

.nav .bars::before
{
	content: '';
	width: 20px;
	height: 3px;
	border-radius: 10px;
	background: #eee;
	position: absolute;
	top:  8px;
}

.nav .bars::after
{
	content: '';
	width: 35px;
	height: 3px;
	border-radius: 10px;
	background: #eee;
	position: absolute;
	top: 16px;
}


.section1
{
	width: 100%;
	height: 550px; /* TODO : ADD JS FOR AUTO HEIGHT; */
	display: flex;
	position: relative;
	justify-content:flex-end;
}

.background
{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}


.background::before
{
	content: '';
    width: 100%;
    height: 520px;
    z-index: 0;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    right: 0;
    transform: skew(0deg,5deg);
}


.section1 .container
{
	width: 40%;
	height: 50%;
	position: relative;
	right: 0px;
	margin-top: 10%;
    z-index: 1000;
    order: 1;
}

.section1 .container img
{
	height: 130px;
}

.section1 .container p
{
	width: 70%;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4em;
	color: #fff;
	font-style: italic;
}

.section1 button
{
	background:none;
	border:none;
	outline: none;
	padding: 12px 15px;
	color: #2cb5e8;
	margin: 20px;
	border-radius:5px;
	font-size: .9em;
	font-weight: 600;
	font-family: Lato;
	background:#eee;
	box-shadow: 0px 0px 0px #2a94bb;
	transition: .2s ease;
}

.section1 button:hover
{
	box-shadow: 0px 0px 10px #2a94bb;
}

/* SECTION 2*/

.section2
{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 30px;
}

.section2 h1
{
	text-align: center;
	font-weight: 300;
	color: #2cb5e8;
}

.section2 p
{
	text-align: center;
	font-weight: 400;
	color: #525c65;
	width: 65%;
	font-size: 1em;
	line-height: 1.3em;
	margin: auto;
	margin-top: 10px;
	font-weight: 400;
}

iframe
{
	position: relative;
	height: 350px;
	width: 700px;
	display: block;
	margin: 30px auto;
}

.section3
{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 30px;
}

.section3 h1
{
	text-align: center;
	font-weight: 300;
	color: #2cb5e8;
}

.section3 p
{
	text-align: center;
	font-weight: 400;
	color: #525c65;
	width: 65%;
	font-size: 1em;
	line-height: 1.3em;
	margin: 10px auto 20px auto;
	font-weight: 400;
	
}

.section3 .container
{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: auto;
	overflow: hidden;
}

.section3 div
{ 
	width: 40%;
	height: 200px;
	order: 1;
	border-radius: 10px;
	margin: 20px;
	transition: .2s ease;
	position: relative;
}

.learners
{
	background: url(students.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.learners2
{
	background: url(2.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.learners3
{
	background: url(3.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.learners4
{
	background: url(4.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.section3 div h2
{
	font-weight: 300;
	text-align: center;
	color: #eee;
	line-height: 200px;
	font-weight: 800;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	margin: auto;
}

.section3 div h4
{
	font-weight: 600;
	text-align: center;
	color: #eee;
	line-height: 200px;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
}

.section3 div:hover > h2
{
	top: -20px;
	opacity: 0;
}

.section3 div:hover > h4
{
	top: 0px;
	opacity: 1;
}


.section4
{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 30px;
}

.section4 h1
{
	text-align: center;
	font-weight: 300;
	color: #2cb5e8;
}

.section4 p
{
	text-align: center;
	font-weight: 400;
	color: #525c65;
	width: 65%;
	font-size: 1em;
	line-height: 1.3em;
	margin: 10px auto 20px auto;
	font-weight: 400;
	
}


.section4 .container
{
	width: 80%;
	margin: auto;
	height: auto;
	overflow: hidden;
}

.section4 .container div
{ 
	width: 100%;
	height: auto;
	margin: 40px;
	position: relative;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
}

.section4 .container div div
{ 
	width: 40%;
	height: auto;
	order: 1;
	overflow: hidden;
	margin: 20px;
	transition: .2s ease;
	position: relative;
	flex-basis: auto;
	margin: auto;
}

.section4 .container h2
{
	font-weight: 300;
	text-align: left;
	width: 100%;
	color: #2cb5e8;
	line-height: 1em;
	font-weight: 300;
}

.section4 .container h4
{
	font-weight: 300;
	text-align: left;
	width: 100%;
	color: #666;
	margin:0;
	font-weight: 600;
}

.section4 .container p
{
	font-weight: 300;
	text-align: left;
	width: 80%;
	margin-left: 0;
	color: #222;
	font-weight: 300;
}

.section4 .container img
{
	height: 300px;
	border-radius: 0;
}

.section4 button
{
	background:none;
	border:none;
	outline: none;
	padding: 8px 15px 8px 0;
	color: #2cb5e8;
	border-radius:5px;
	font-size: .9em;
	font-weight: 600;
	font-family: Lato;
	transition: .2s ease;
	margin-left: 0px;
	position: relative;	
}

.section4 button::after
{
	content: "";
	display: inline;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2px;
	height: 0%;
	background: #2cb5e8;
	transition:.3s ease;
}

.section4 button:hover
{
	padding-left: 15px;
}



.section4 button:hover:after
{
	transition:.3s ease;
	height: 100%;
}


.footer
{
	width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
}

.footer .background
{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}


.footer .background::before
{
	content: '';
    width: 100%;
    height: 220px;
    z-index: 0;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    right: 0;
    transform: skew(0deg,-4deg);
}

.footer p
{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
	color: #eee;
	text-align: center;
}
