.nav
{
	width: 15em;
	height: 100%;
	position: fixed;
	left: -15em;
	top: 0px;
	background: #fff;
	z-index: 99;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	box-shadow: inset -1px 0px 10px #aaa;
}

.nav div
{
	width: 100%;
	height: 50px;	
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}



.nav div:hover
{
	background: rgba(0,0,0,0.1);	
}

.nav div:hover img
{
	filter: grayscale(0.1);
}

.nav .curr img
{
	filter: grayscale(0);
}

.nav .curr
{
	background: rgba(0,0,0,0.1);	
}

.nav .menu
{
	text-align: center;
	background: #42a0ca;
}

.nav .menu:hover
{
	background: #42a0ca;
}

.nav .curr:hover
{
	background: rgba(0,0,0,0.1);	
}

.nav img
{
	width: 30px;
	height: 30px;
	order: 1;
	margin-left: 20px;
	filter: grayscale(1);
}

.nav p
{
	order: 2;
	margin: 0 0 0 20px;
	height: 100%;

}

.nav .menu p
{
	text-align: center;
	margin: 0 auto;
	height: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 1.3em;
}

.nav a
{
    color: #333;
    font-family: PT Sans;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
}


.nav a .curr
{
	color: #42a0ca;	
}
	





.toggle
{
	width: 30px;
	height: 20px;
	position: fixed;
	cursor: pointer;
	left: 25px;
	right: 0;
	top: 10px;
	z-index: 99999999;
	transform: scale(1);
	background: transparent;
}

.bars
{
	width: 35px;
	height: 3px;
	position: absolute;
	left: 25px;
	top: 30px;
	z-index: 99999999;
	border-radius: 10px;
	background: #222;
}

.bars::before
{
	content: "";
	width: 30px;
	height: 3px;
	position: absolute;
	left: 0px;
	top: 10px;
	background: #222;
	border-radius: 10px;
}

.bars::after
{
	content: "";
	width: 34px;
	height: 3px;
	position: absolute;
	left: 0px;
	top: 20px;
	background: #222;
	border-radius: 10px;
}

@media (max-width :500px){


	.nav
	{
		width: 100%;
		height: 100%;
		position: fixed;
		left: -100%;
		top: 0px;
		z-index: 999999;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.nav div
	{
		width: 100%;
		height: 50px;	
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
	}

	.nav img
	{
		width: 30px;
		height: 30px;
		order: 1;
		margin-left: 20px;
	}

	.nav p
	{
		order: 2;
		margin: 0 0 0 20px;
		height: 100%;
	}

	.nav .menu p
	{
		text-align: center;
		margin: 0 auto;
		height: 100%;
		font-weight: 500;
		font-size: 1.3em;
	}


	.cross
	{
		width: 35px;
		height: 3px;
		position: absolute;
		left: 25px;
		top: 30px;
		z-index: 999999999999999999999999;
		transform: rotate(-45deg);

	}

	.cross::before
	{
		content: "";
		width: 30px;
		height: 3px;
		position: absolute;
		left: 0px;
		top: 10px;
		border-radius: 10px;
		opacity: 0;
	}

	.cross::after
	{
		content: "";
		width: 35px;
		height: 3px;
		position: absolute;
		left: 0px;
		top: 0px;
		border-radius: 10px;
		transform: rotate(90deg);
	}


	.bars
	{
		left: 5px;
	}
}