.section1
{
	width: 100%;
	background: linear-gradient(to right, #57b8e2, #58b8e2);
	position: relative;
    padding: 100px 0;
}

.section1 h2
{
    color: #197da8;
    font-weight: 300;
    font-size: 1.3em;
    margin-left: 10%;
}

.section1 h1
{
    margin-left: 10%;
    color: #fff;
    font-family: PT Sans;
}

.section2
{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 7% auto;
}

.section2 input
{
    background: none;
    outline: none;
    border:none;
    border-bottom: 2px solid #ccc;
    margin: 10px;
    width: 40%;
    margin: 10px 10px;
    padding: 10px;
}

.section2 input:focus
{
    border-bottom: 2px solid #58b8e2;
}

.section2 textarea
{
    resize: none;
    outline: none;
    border: 2px solid #ccc; 
    background: transparent;
    width: 85%;
    margin: 15px 0;
    padding: 10px;
    font-family: Lato;
    height: 10em;
}

.section2 textarea:focus
{
    border: 2px solid #58b8e2;
}

.section2 button
{
    background: none;
    border:none;
    outline:none;
    border-radius: 20px;
    width: 55%;
    height: 45px;
    margin: 30px auto 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: PT Sans;
    font-size: .9em;
    color: #58b8e2;
    border:1px solid #58b8e2;
    cursor: pointer;
}

.section2 button:hover
{
    background: #58b8e2;
    color: #fff;
}

