.section1
{
    width: 100%;
    background: linear-gradient(to right, #57b8e2, #58b8e2);
    position: relative;
    padding: 100px 0;
}

.section1 h2
{
    color: #197da8;
    font-weight: 300;
    font-size: 1.3em;
    margin-left: 10%;
}

.section1 h1
{
    margin-left: 10%;
    color: #fff;
    font-family: PT Sans;
}

.section2
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background: #f5f5f5;
}

.section2 .courses
{
    margin: 7% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section2 .courses .c
{
    width: 22%;
    background: #fff;
    padding: 35px;
    font-family: PT Sans;
    margin: 20px;
}

.section2 .courses .c h2
{
    color: #222;
    text-align: center;
}

.section2 .courses .c h4
{
    text-align: center;
    color: #57b8e2;
    font-weight: 300;
}

.section2 .courses .c p
{
    margin: 10px 0;
    font-family: Lato;
    font-weight: 300;
    color: #333;
    text-align: justify;
    line-height: 1.3em;
}
