a{
	text-decoration: none;
	color: inherit;
}

.vids{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.video{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
	flex-direction: column-reverse;

}

.convid{
	width: 80vw;
	height: 40vw;
}

.other{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.head{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
}

.long{
	font-size: 1.2em;
	margin-top: 20px;
}

.desc{
	width: 60%;
	padding-bottom: 30px;
	padding-top: 30px;
}

iframe{
	margin-bottom: 20px;
	height: 100%;
	width: 100%;

}

.other div{
	position: relative;
	height:170px;
	width: 300px;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;

}

.block{
	z-index: 10000;
	width: 100%;
	position: absolute;
	top: -210px;
}

.block0{
	background: rgba(0, 0, 0, 0.5);
}

.block1{
	background: transparent;
}

.block2{
	background: transparent;
}

.block3{
	background: transparent;
}

.block4{
	background: transparent;
}

.block5{
	background: transparent;
}

.entre{
	width: 70%;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.entre div{
	padding:10px;
}

.star{
	border: 2px solid #58B8E2;
	border-radius: 50px;
	width: 120px;
	text-align: center;
}